* {
    padding: 0;
    margin: 0;
}

body, button {
    font-family: "Montserrat", sans-serif;
}

.header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000915 100%), url(img/header.jpg), lightgray 50% / cover no-repeat;
    width: 1440px;
    height: 1024px;
    
   

    &__title {
        color: #FFF;
        font-size: 64px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        width: 788.778px;
        height: 125.007px;
        flex-direction: column;
        justify-content: center;
        padding-top: 217.1px;
        padding-left: 120.22px;
        padding-right: 531px;
        padding-bottom: 32px;
    }

    &__text {
        color: #FFF;
        font-size: 18px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        line-height: 32px;
        width: 481px;
        padding-left: 120.22px;
        padding-right: 838.78px;
        padding-bottom: 44px;
    }

    &__button {
        border-radius: 30px;
        background: #9C0332;
        width: 234.063px;
        height: 48.603px;
        color: #FFF;
        font-size: 18px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-left: 120px;
        margin-right: 1085.94px;
        margin-bottom: 493.29px;
    }
}

.heading {
    background: #000915;
    width: 1440px;
    height: 556px;
}

.for {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 128px;
    padding-bottom: 128px;
    margin-left: 120px;
    margin-right: 120px;
   


    &__item_1 {
        border-radius: 16px;
        background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(img/game_1.jpg), lightgray 50% / cover no-repeat;
        width: 378px;
        height: 300px;
        color: #FFF;
        font-size: 24px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        grid-column: span 4;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-end;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    &__item_2 {
        border-radius: 16px;
        background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(img/game_2.jpg), lightgray 50% / cover no-repeat;
        width: 378px;
        color: #FFF;
        font-size: 24px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        grid-column: span 4;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-end;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    &__item_3 {
        border-radius: 16px;
        background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(img/game_3.jpg), lightgray 50% / cover no-repeat;
        background-repeat: no-repeat;
        background-size: cover;
        color: #FFF;
        font-size: 24px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        width: 378px;
        grid-column: span 4;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-end;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}

.span {
    padding-left: 32px;
    padding-bottom: 32px;
}